{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block topcontent %}
{% endblock %}
{% block content %}
<h3> {%trans "Create Account" %} </h3>
<div class="bg-modal">
    <div class="modal-content">
        <pre id="terms_service_text" class="modal-text">{%trans "terms_service_text" %}</pre>
        <pre id="personal_info_text" class="modal-text">{%trans "personal_info_text" %}</pre>
        <div class="btn-confirm">
            <span id="close">
                {%trans "확인" %}
            </span>
        </div>
    </div>
</div>
<div class="form-container">
    {% if 'expert-account' in request.path %}
    <form class="signup" id="signup_form" method="POST" enctype="multipart/form-data" action="{% url 'socialaccount_signup' %}">
    {% else %}
    <form class="signup" id="signup_form" method="POST">
    {% endif %}
        {% csrf_token %}
        {{ form.email|as_crispy_field }}
        {% block userform %}
        {% endblock %}
        {{ form.name|as_crispy_field }}
        {{ form.birthday|as_crispy_field }}
        {{ form.terms_service }}
        {{ form.personal_info }}
        <button type="submit" class="btn btn-primary">{%trans "Sign up after agreeing to the terms below" %}</button>
        <div class="mt-3">
            <span class="dialog-button" id="terms_service_dialog">{%trans 'Terms and conditions' %}</span>
            <span class="mx-2">/</span>
            <span class="dialog-button" id="personal_info_dialog">{%trans 'Privacy Policy' %}</span>
        </div>
    </form>
    <p class="mt-4">Or <a href="{% url 'account_login' %}">{%trans "Log in" %}</a></p>
</div>

<style>
    .form-control[readonly] {
        background-color: #ffffff !important;
    }
    #wrap {
        z-index: 1;
    }
    .agreement-checkbox .form-check {
        text-align: left !important;
    }
    .snps-inline-select {
        width: auto;
        display: inline-block;
        margin-right: 8px;
    }
    .dialog-button {
        color: #007bff;
        z-index: 1;
    }
    .dialog-button:hover {
        cursor: pointer;
    }
    .bg-modal{
        width: 100%;
        height:100%;
        background-color: rgba(0,0,0,0.5); /* make it half transparent */
        position: fixed;
        top:0px;
        left:0px;
        z-index: 1;
        display: none;  /* It will remain invisible until you open */
        justify-content: center; /*center horizontally*/
        align-items: center ; /* center vertically */
    }
    .modal-content{
        width:600px;
        height:300px;
        background-color: white;
        border:none;
        border-radius: 15px;
        position: relative;
        overflow-y: auto;
    }
    .modal-text {
        display: none;
        margin-bottom: 0px;
        padding:12px;
        padding-bottom: 0px;
        overflow-y: auto;
        white-space: break-spaces;
        word-break: keep-all;
        text-align: left;
    }
    .btn-confirm {
        color: #007bff;
        border-top: 1px solid #c5c5c5;
    }
    #close:hover{
        cursor: pointer;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('terms_service_dialog').addEventListener('click', () => {
            document.querySelector(".bg-modal").style.display ='flex';
            document.querySelector("body").style.overflow ='hidden';
            document.querySelector("#terms_service_text").style.display ='block';
        });
        document.getElementById('personal_info_dialog').addEventListener('click', () => {
            document.querySelector(".bg-modal").style.display ='flex';
            document.querySelector("body").style.overflow ='hidden';
            document.querySelector("#personal_info_text").style.display ='block';
        });
        document.querySelector("#close").addEventListener('click',() => {
            document.querySelector(".bg-modal").style.display ='none';
            document.querySelector("body").style.overflow ='auto';
            document.querySelector("#personal_info_text").style.display ='none';
            document.querySelector("#terms_service_text").style.display ='none';
        });
        setTimeout(function(){document.querySelector('form').reset()}, 10);
    });
</script>
{% endblock %}