{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<h3> {%trans "Create Account" %} </h3>
<div class="bg-modal">
    <div class="modal-content">
        <pre id="terms_service_text" class="modal-text">{%trans "terms_service_text" %}</pre>
        <pre id="personal_info_text" class="modal-text">{%trans "personal_info_text" %}</pre>
        <div class="btn-confirm">
            <span id="close">
                {%trans "확인" %}
            </span>
        </div>
    </div>
</div>
<div class="form-container">
    {% if 'expert-account' in request.path %}
    <form class="signup" id="signup_form" method="POST" enctype="multipart/form-data" action="{% url 'socialaccount_signup' %}">
    {% else %}
    <form class="signup" id="signup_form" method="POST" action="{% url 'socialaccount_signup' %}">
    {% endif %}
        {% csrf_token %}
        {{ form.email|as_crispy_field }}
        {{ form.name|as_crispy_field }}
        {{ form.birthday|as_crispy_field }}
        {{ form.old_address|as_crispy_field }}
        <div id="wrap" style="display: none; border: 1px solid; top:-54px; max-height: 470px; margin: 5px 0px; position: relative;">
            <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
        </div>
        <div class="form-row">
            <div class="form-group col-6 mb-0">
                {{ form.dong|as_crispy_field }}
            </div>
            <div class="form-group col-6 mb-0" >
                {{ form.ho|as_crispy_field }}
            </div>
        </div>
        {{ form.mobile_number|as_crispy_field }}
        <div class="form-row">
            <div class="form-group col-5 mb-0">
                {{ form.bank_name|as_crispy_field }}
            </div>
            <div class="form-group col-7 mb-0" >
                {{ form.account_number|as_crispy_field }}
            </div>
        </div>
        {% if 'expert-account' in request.path %}
            {{ form.registration_number|as_crispy_field }}
            {{ form.shop_name|as_crispy_field }}
            {{ form.registration_certificate|as_crispy_field }}
            {{ form.agency_license|as_crispy_field }}
            {{ form.stamp|as_crispy_field }}
            {{ form.insurance|as_crispy_field }}
            {{ form.from_date|as_crispy_field }}
            {{ form.to_date|as_crispy_field }}
            {{ form.is_expert|as_crispy_field }}
        {% endif %}
        {{ form.old_address_eng }}
        {{ form.new_address }}
        {{ form.bjdongName }}
        {{ form.bjdongName_eng }}
        {{ form.sigunguCd }}
        {{ form.bjdongCd }}
        {{ form.platGbCd }}
        {{ form.bun }}
        {{ form.ji }}
        <div class="form-row">
            <div class="agreement-checkbox form-group col-8 mb-0">
                {{ form.terms_service|as_crispy_field }}
            </div>
            <div class="form-group col-4 mb-0" >
                <div class="dialog-button" id="terms_service_dialog" style="float:right">약관보기</div>
            </div>
        </div>
        <div class="form-row">
            <div class="agreement-checkbox form-group col-8 mb-0">
                {{ form.personal_info|as_crispy_field }}
            </div>
            <div class="form-group col-4 mb-0" >
                <div class="dialog-button" id="personal_info_dialog" style="float:right">약관보기</div>
            </div>
        </div>
        <button type="submit" class="btn btn-sm btn-primary">{%trans "Sign Up" %}</button>
    </form>
    <p class="mt-2">Or <a href="{% url 'account_login' %}">{%trans "Log in" %}</a></p>
</div>

<style>
    .form-control[readonly] {
        background-color: #ffffff !important;
    }
    #wrap {
        z-index: 1;
    }
    .agreement-checkbox .form-check {
        text-align: left !important;
    }
    .snps-inline-select {
        width: auto;
        display: inline-block;
        margin-right: 8px;
    }
    .dialog-button {
        color: #007bff;
        z-index: 1;
    }
    .dialog-button:hover {
        cursor: pointer;
    }
    .bg-modal{
        width: 100%;
        height:100%;
        background-color: rgba(0,0,0,0.5); /* make it half transparent */
        position: fixed;
        top:0px;
        z-index: 1;
        display: none;  /* It will remain invisible until you open */
        justify-content: center; /*center horizontally*/
        align-items: center ; /* center vertically */
    }
    .modal-content{
        width:600px;
        height:300px;
        background-color: white;
        border:none;
        border-radius: 15px;
        position: relative;
        overflow-y: auto;
    }
    .modal-text {
        display: none;
        margin-bottom: 0px;
        padding:12px;
        padding-bottom: 0px;
        overflow-y: auto;
        white-space: break-spaces;
        word-break: keep-all;
        text-align: left;
    }
    .btn-confirm {
        color: #007bff;
        border-top: 1px solid #c5c5c5;
    }
    #close:hover{
        cursor: pointer;
    }
</style>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    const that = this;
    // 우편번호 찾기 찾기 화면을 넣을 element
    var element_wrap = document.getElementById('wrap');
    function foldDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_wrap.style.display = 'none';
    }

    function execDaumPostcode() {
        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        var daumpost = new daum.Postcode({
            autoMapping:false,
            oncomplete: function(data) {

                document.getElementById("id_old_address").value = data.jibunAddress
                document.getElementById("id_old_address_eng").value = data.jibunAddressEnglish
                document.getElementById("id_new_address").value = data.address
                document.getElementById("id_bjdongName").value = data.bname;
                document.getElementById("id_bjdongName_eng").value = data.bnameEnglish;
                document.getElementById("id_sigunguCd").value = data.bcode.substring(0,5)
                document.getElementById("id_bjdongCd").value = data.bcode.substring(0,5)
                document.getElementById("id_bun").value = data.jibunAddress.split("-")[0].split(" ")[data.jibunAddress.split("-")[0].split(" ").length - 1]
                document.getElementById("id_ji").value = data.jibunAddress.split("-")[1] ? data.jibunAddress.split("-")[1].split(" ")[0] : ""

                // 커서를 휴대폰번호 필드로 이동한다.
                document.getElementById("id_dong").focus();

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                element_wrap.style.display = 'none';

                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                document.body.scrollTop = currentScroll;
            },
            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
            onresize : function(size) {
                element_wrap.style.height = size.height+'px';
                element_wrap.scrollIntoView()
            },
            width : '100%',
            height : '101%'
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
    }
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('terms_service_dialog').addEventListener('click', () => {
            document.querySelector(".bg-modal").style.display ='flex';
            document.querySelector("body").style.overflow ='hidden';
            document.querySelector("#terms_service_text").style.display ='block';
        });
        document.getElementById('personal_info_dialog').addEventListener('click', () => {
            document.querySelector(".bg-modal").style.display ='flex';
            document.querySelector("body").style.overflow ='hidden';
            document.querySelector("#personal_info_text").style.display ='block';
        });
        document.querySelector("#close").addEventListener('click',() => {
            document.querySelector(".bg-modal").style.display ='none';
            document.querySelector("body").style.overflow ='auto';
            document.querySelector("#personal_info_text").style.display ='none';
            document.querySelector("#terms_service_text").style.display ='none';
        });
    });
</script>
{% endblock %}