{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<style>
  h3 {
      margin-top: 16px;
      text-align: center;
  }
  .auth-box {
      width: 360px;
      margin: auto;
  }
  .outer-area {
      margin-top: 100px;
  }
  .snps-inline-select {
      width: auto;
      min-width: 100px;
      display: inline-block;
  }
  pre {
      font-size: 14px;
  }
  .icon-kakao {
      background-image: url("{% static 'img/kakao.png' %}");
  }
  .icon-naver {
      background-image: url("{% static 'img/naver.png' %}");
  }
  .icon-google {
      background-image: url("{% static 'img/google.png' %}");
  }
  .btn-kakao {
    border: 0px;
    border-radius: 3px;
    color: black;
    background-color: #FEE500;
  }
  .btn-kakao:active,
  .btn-kakao:hover,
  .btn-kakao:focus {
    box-shadow: rgb(0 0 0 / 50%) 0px 2px 3px;
  }
  .btn-google {
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: black;
    background-color: white;
  }
  .btn-google:active,
  .btn-google:hover,
  .btn-google:focus {
    box-shadow: rgb(0 0 0 / 50%) 0px 2px 3px;
  }
  .btn-naver {
    border: 0px;
    border-radius: 3px;
    color: black;
    background-color: #1EC800;
  }
  .btn-naver:active,
  .btn-naver:hover,
  .btn-naver:focus {
    box-shadow: rgb(0 0 0 / 50%) 0px 2px 3px;
  }
  .icon-button {
      background-size: contain;
      background-repeat: no-repeat;
      margin-top: 3px;
      height: 18px;
      width: 18px;
      display: inline-block;
      vertical-align: text-top;
  }
  .btn-registor {
      width: 177px;
  }
</style>
{% block account_style %}
{% endblock %}
{% endblock %}
{% block title %}{% trans 'Onepaper' %}{% endblock %}
{% block body %}
<div class="d-flex flex-column" style="min-height: 100vh;">
  {% if messages %}
  <div>
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
  </div>
  {% endif %}
  {% block erros %}
  {% endblock %}
  <div class="auth-box text-center align-items-center">
    <h4 class="mt-4 title-color">
      <strong> {% trans "Online Realesate Contract" %} </strong>
    </h4>
    <h3 class="text-center">
      {% if '/accounts/login' in request.path %}
      <a class="title-color text-white" href="/">{% trans "Onepaper" %}</a>
      {% else %}
      <a class="title-color" href="/">{% trans "Onepaper" %}</a>
      {% endif %}
    </h3>
  {% block content %}
  {% endblock %}
  </div>
  {% if not '/accounts/login' in request.path %}
  <footer class="footer text-center py-3" style="background-color: #f5f5f5; color: rgba(0, 0, 0, 0.87);">
    {% blocktrans %}
    Company: quroom | Registration Number: 246-86-01161
    <br/>
    CONTACT US: <a href="mailto:quroom@naver.com">QUROOM@NAVER.COM</a>
    <br/>
    Copyright © Onepaper. All Rights Reserved.
    {% endblocktrans %}
  </footer>
  {% endif %}
</div>
{% endblock %}
{% block extra_body %}
{% endblock %}

{% block endofpage %}
{% endblock %}
{% block js %}
  <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
