{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h3>{% trans "Change Password" %}</h3>

    <form method="POST" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="text-center">
            <button class="btn btn-sm btn-outline-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
