{% extends "socialaccount/signup.html" %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block topcontent %}
<div class="mt-4 flex flex-col w-full">
    <!-- receiving from django-allauth -->
    <a class="btn btn-naver" href="{% provider_login_url "naver" %}">
        <i class="icon-button icon-naver"></i>
    </a>
    <a class="btn btn-kakao" href="{% provider_login_url "kakao" %}" >
        <i class="icon-button icon-kakao"></i>
    </a>
    <a class="btn btn-google" href="{% provider_login_url "google" %}" >
        <i class="icon-button icon-google"></i>
    </a>
</div>
{% endblock %}
{% block userform %}
    {{ form.password1|as_crispy_field }}
    {{ form.password2|as_crispy_field }}
{% endblock %}