asgiref==3.3.1
bleach==3.3.0
black==21.8b0
boto3==1.16.56
botocore==1.19.56
Django==3.1.5
django-allauth==0.44.0
django-cleanup==5.1.0
django-crispy-forms==1.10.0
django-debug-toolbar==3.2
django-filter==2.4.0
django-ipware==3.0.2
django-multiselectfield==0.1.12
django-phonenumber-field==5.0.0
django-storages==1.11.1
django-summernote==0.8.20.0
django-webpack-loader==0.7.0
djangorestframework==3.12.2
drf-nested-routers==0.93.3
gunicorn==20.0.4
isort==5.9.3
jmespath==0.10.0
jsmin==2.2.2
packaging==20.9
phonenumbers==8.12.15
Pillow==8.1.0
psycopg2-binary==2.8.6
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.5
s3transfer==0.3.4
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
webencodings==0.5.1
