{% extends "auth_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block auth %}
<h2>{%trans "Log in" %}</h2>
<div class="form-container">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-sm btn-outline-primary">{%trans "Log in" %}</button> Or
    </form>
    <p class="mt-4">
        <a href="{% url 'django_registration_register' %}">{% trans '개인회원 가입' %}</a> | 
        <a href="{% url 'django_expert_registration_register' %}">{% trans '중개사회원 가입' %}</a> |
        <a href="{% url 'password_reset' %}">{% trans 'Password reset' %}</a>
    </p>
</div>
{% endblock %}