{% extends "base.html" %}
{% block style %}
<style>
    .login-form-container {
        width: 300px;
        margin: auto;
    }
    .registration-form-container {
        width: 400px;
        margin: auto;        
    }
    .outer-area {
        margin-top: 100px;
    }    
    .snps-inline-select {
        width: auto;
        min-width: 100px;
        display: inline-block;
    }    
</style>
{% endblock %}

{% block content %}
<title>OnePaper</title>
<div class="auth-box text-center">
    {% block auth %}
    {% endblock %}
</div>
{% endblock %}