{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style>
    h2 {
        margin-top: 16px;
    }
    .form-container {
        width: 360px;
        margin: auto;
    }
    .outer-area {
        margin-top: 100px;
    }    
    .snps-inline-select {
        width: auto;
        min-width: 100px;
        display: inline-block;
    }    
</style>
{% endblock %}

{% block content %}
<title>OnePaper</title>
<div class="auth-box text-center">
    {% block auth %}
    {% endblock %}
</div>
{% endblock %}